.chipList {
    display: flex;
    flex-flow: row wrap;
}

.centered {
    justify-content: center;
}

.leftAligned {
    justify-content: flex-start;
}

.rightAligned {
    justify-content: flex-end;
}

.chip {
    margin: 0.25rem;
}