.iconButton {
    margin-right: 7%;
}

.actions {
    justify-content: flex-end;
}

.focusArea + .focusArea {
    margin-top: 1rem;
}

.faHeaderWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.faHeaderRecommendation {
    align-self: center;
    margin: 0 16px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.faHeaderRecommendationButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}