.iconButton {
    margin-right: 7%;
}

.actions {
    justify-content: flex-end;
}

.focusArea + .focusArea {
    margin-top: 1rem;
}

.focusAreaList {

}

.relevance {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
}