.wrapper {
    margin-top: 150px;
}
body, p, h1, h2, h3, h4 {
    /*color: #FFFFFF;*/
    font-family: "Arimo", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
    padding-bottom: 50px;
    /*background-color: #808080;*/
}
/*.focus-area-detail-header {
    /*color: white;*/
/*}*/
/*button {
    color: '#000000'
}*/
.title {
    width: 400px;
    float: left;
}
.logo {
    max-width: 350px;
    /* margin-top: 2%; */
    /* margin-left: 10%; */
    margin-right: 10%;
    /* margin-bottom: 20%; */
}
.sticky-navbar  {
    position: fixed !important;
    top: 0;
    z-index: 1000;
}
.sticky-navbar-tabs  {
    position: fixed !important;
    top: 130px;
    z-index: 1000;
    width: 100%;
    
}
.drawer-wrapper {
    position: fixed !important;
    top: 200px !important;
    /*margin-left: 0px;
    margin-right: 0px;*/
    width: 100%;


}
.row {
    margin-right: 10px;
    margin-left: 10px;
}
.query-builder-wrapper {
    margin-left: 20px;
    margin-right:  20px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.reset-button {
    margin-top: 30px;
}
.left-nav{
   margin-left: 50px;
   margin-bottom: 30px;
   margin-top: 40px;
   padding: 0px;
}
.right-nav {
    margin-right: 50px;
    margin-bottom: 30px;
    padding: 0px;
    float: left;
}
.note-text {
    color: '#808080';
    font-size: 12px;
}
/*  to here */

.row-padding {
    margin-left: 10px;
    margin-right: 10px;
}
.hr-color {
        border-top: 1px solid whitesmoke;
}
td {
    word-wrap: break-word;
}
/*.auto-complete-text:active{
    color: purple
}*/
table { 
  width: 100%; 
  border-collapse: collapse; 
  table-layout: fixed;
}
.format-table-content {
    padding-left: 20px;
}
.results-content:hover {
    /*background-color: #2FBB2F;*/
    color: white;
}
/*.results-content, .query-builder, .focus-area-header  {
     /*background-color: gainsboro;*/
/*}*/*/
.query-builder {
    min-height: 40px;
}
.navbar-default {
    min-height: 100px;
}

/*/*}*/
.data-import-paper {
  height: '180px';
  width: '200px';
  margin: 20;
  display: 'flex';
  flex: 1;
  align-items: 'center';
  justify-content: 'center';
}
.hidden-class {
    display: none;
}
.auto-text-alignment {
    /*display: inline;
    */
    min-height: 50px;
}
.fa-headings{
    font-size: 20px; 
    
}
.fa-headings-span {
     font-size: 20px;
     /*color: #2FBB2F;*/
}
/*.fa-chips {
    display: inline;

}*/
.chip-float {
    float: left;
}
.chip-float-text {
    float: left;
    padding: 10px;
}
.fa-tab-view-rows{
    margin-left: 20px;
    margin-right: 20px;
    /*padding-bottom: 20px;*/
}
.fa-wrapper {
    padding: 20px;
    border: solid 1px #E6E6E6;
    margin-top: 5px;
    box-shadow: 1px 1px 5px #E6E6E6;
}
.drawer-button-wrapper {
    margin: 14px;
    margin-left: 14px;
}
.no-paths-message {
    text-align: center;
    margin: 40px;
}
.raised-button-color {
    color: '#FFFFFF' !important
}
.panel-body {
    min-height: 150px;

}
.panel-default {
    margin-bottom: 0px;
}
.format-query-item {
    margin-top: 5px;
    margin-bottom: 5px;
}
.focus-area-body {
    border-top:none;
}
.search-text {
    margin: 10px;
}
.expand-icon {
    margin: 10px;
}
.reset-icon {
    /*margin: 10px;*/
    margin-top: 10px;
}
/*.focus-area-header {
    background-color: white;
}*/
.chip {
    border: 10px;
    box-sizing: border-box;
    display: flex;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    text-decoration: none;
    margin: 8px 8px 0px 0px;
    padding: 0px;
    outline: none;
    /*font-size: inherit;
    font-weight: inherit;*/
    position: relative;
    z-index: 1;
    background-color: rgb(163, 95, 227);
    border-radius: 16px;
    white-space: nowrap;
    width: -webkit-fit-content;
    float: left;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    padding-left: 12px;
    padding-right: 12px;
    user-select: none;
    white-space: nowrap;
    /*max-width: 50vw;*/
    }
.no-path-message {
    padding: 30px;
}
.format-results-msg-item  {
    margin-top: 7.5%;
    color: #2FBB2F;
    font-size: 15px;
}
.focus-area-change  {
    margin: 0px;
    margin-top: 15px;
}
.ac-wrapper {
    font-size: 16px; 
    line-height: 24px; 
    width: 100%; 
    display: inline-block; 
    position: relative; 
    background-color: transparent; 
    font-family: Roboto, sans-serif; 
    transition: height 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; 
    cursor: text;
}
.auth-input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.icon-right {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    display: 'flex';
}

@media (max-width: 988px){
    .reset-button {
        margin-top: 0px;
        text-align: left;
        margin-left: 60px;
    }
    .logo {
        /*width: 40%;*/
        margin: 0;
    }

 }


@media (max-width: 768px){
    .wrapper {
        margin-top: 150px;
    }
    .logo {
        width: 300px;
        margin: 0;
        padding: 0px;
    }
   .reset-button {
        margin-top: 0px;
    }
    .drawer-button-wrapper {
        margin: auto;
        /*margin-left: 14px;*/
    }
    .left-nav{
        /*margin-top: 80px;*/
        margin-left: 0px;
    }
    .right-nav {
        margin-right: 0px;
    }
    .chip {
         max-width: 50vw;
         /*min-height: 5vh;*/
         overflow: hidden;
    }
    .nav-items {
        /*display: flex;*/
    }
    .app-bar {
        /*height: 200px;*/
    }

}

@media (max-width: 480px){

    .logo {
        width: 200px;
        margin: 0;
        padding: 0px;
    }
    .icon-right {
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 100px;
        display: 'flex';
    }
    .nav-items {
        /*display: flex;*/
        margin: 0px;
    }
    .app-bar {
        /*height: 200px;*/
    }

   

}

