.wrapper {
    margin-top: 200px;
}
body, p, h1, h2, h3, h4 {
    /*color: #FFFFFF;*/
    font-family: "Arimo", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
    padding-bottom: 50px;
    /*background-color: #808080;*/
}
/*.focus-area-detail-header {
    /*color: white;*/
/*}*/
/*button {
    color: '#000000'
}*/
.logo {
    width: 600px;
    /*margin-top: 2%;*/
    margin-left: 20%;
    margin-right: 20%;
    /*margin-bottom: 20%;*/  
}
.sticky-navbar  {
    position: fixed !important;
    top: 0;
    z-index: 1000;
}
.sticky-navbar-tabs  {
    position: fixed !important;
    top: 130px;
    z-index: 1000;
    width: 100%;
    
}
.drawer-wrapper {
    position: fixed !important;
    top: 200px !important;
    /*margin-left: 0px;
    margin-right: 0px;*/
    width: 100%;


}
.row {
    margin-right: 10px;
    margin-left: 10px;
}
.query-builder-wrapper {
    margin-left: 20px;
    margin-right:  20px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.reset-button {
    margin-top: 40px;
}

/*  to here */
.login-items {
    /*color: white;*/
}
.row-padding {
    margin-left: 10px;
    margin-right: 10px;
}
.hr-color {
        border-top: 1px solid whitesmoke;
}
td {
    word-wrap: break-word;
}
/*a {
    color: '#808080'
}*/
/*a:active {
     color: '#808080'
}*/
table { 
  width: 100%; 
  border-collapse: collapse; 
  table-layout: fixed;
}
.format-table-content {
    padding-left: 20px;
}
.results-content:hover {
    /*background-color: #2FBB2F;*/
    color: white;
}
/*.results-content, .query-builder, .focus-area-header  {
     /*background-color: gainsboro;*/
/*}*/*/
.query-builder {
    min-height: 40px;
}
.custom-nav-right {
    margin-left: auto;
    margin-right: auto;
    align-content: right;
    /*margin-top: 3%;*/
}
.custom-nav-left {
    margin: 0 auto;
}
.data-import-paper {
  height: '180px';
  width: '200px';
  margin: 20;
  display: 'flex';
  flex: 1;
  align-items: 'center';
  justify-content: 'center';
}
.hidden-class {
    display: none;
}
.auto-text-alignment {
    /*display: inline;
    */
    min-height: 50px;
}
.fa-headings{
    font-size: 20px; 
    
}
.fa-headings-span {
     font-size: 20px;
     /*color: #2FBB2F;*/
}
/*.fa-chips {
    display: inline;

}*/
.chip-float {
    float: left;
}
.chip-float-text {
    float: left;
    padding: 10px;
}
.fa-tab-view-rows{
    margin-left: 20px;
    margin-right: 20px;
    /*padding-bottom: 20px;*/
}
.fa-wrapper {
    padding: 20px;
    border: solid 1px #E6E6E6;
    margin-top: 5px;
    box-shadow: 1px 1px 5px #E6E6E6;
}
.drawer-button-wrapper {
    margin: 14px;
    margin-left: 14px;
}
/*input {
    color: black;
}*/
/*.info-messages {
    padding: 10px;
}*/
/*tr {
  /*background-color: '#e57373' !important;*/
  /*color: "#000000" !important;
}*/
/*.submit-csv-button {
    margin-left: '35%' !important;
    margin-top: 12px;
    margin-bottom: 12px;
}*/
/*.navbar-toggle {
    border: 1px solid white;
}
.nav-header {
    background-color: #2FBB2F;
}
.nav-menu {
     background-color: #2FBB2F;
}
.navbar-left, .navbar-right {
    margin: 0 auto;
}
.navbar-brand {
    color: #808080;
}
navbar {
    max-height: 200px;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: white;
  border-radius: 1px;
}*/
.panel-body {
    min-height: 150px;

}
.panel-default {
    margin-bottom: 0px;
    /*border-color: #808080;*/
}
.format-query-item {
    margin-top: 5px;
    margin-bottom: 5px;
}
.focus-area-body {
    border-top:none;
}
.search-text {
    margin: 10px;
}
.expand-icon {
    margin: 10px;
}
.reset-icon {
    /*margin: 10px;*/
    margin-top: 10px;
}
/*.focus-area-header {
    background-color: white;
}*/
.no-path-message {
    padding: 30px;
}
.format-results-msg-item  {
    margin-top: 7.5%;
    color: #2FBB2F;
    font-size: 15px;
}

@media (max-width: 988px){
    .reset-button {
        margin-top: 0px;
        text-align: left;
        margin-left: 60px;
    }

 }


@media (max-width: 768px){
    .wrapper {
        margin-top: 200px;
    }
    .logo {
        width: 80%;
        margin: 0;
    }
   .reset-button {
        margin-top: 0px;
    }
    .drawer-button-wrapper {
        margin: auto;
        /*margin-left: 14px;*/
    }

}

