.signup {
    grid-row-start: 1;
    grid-row-end: -1;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "form";
    justify-items: center;
}